@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root {
  --colorBlack--: #000;
  --colorWhite--: #fff;
  --colorPrimary--: #ffd15b;
  --colorGrey--: #7a7a7a;
}

body {
 background-color: #EDEDED;
  font-family:Manrope, Anton;
  margin: 0;
  
}

#header {
  height: 25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/header_image.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.header_title img{
 width:150px ;
 
}
.header_search p{
  color: var(--colorPrimary--);
}
.searchButton:hover{
  background-color: var(--colorPrimary--) !important;
}
.searchButton:hover .icone_one{
color: var(--colorBlack--) !important;
}
.btnFiltre:hover {
  color: var(--colorBlack--) !important;
}

#main{
  min-height: 58vh;
}

.dropdown-content ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content input{
  width: 100%;
  
}

.menu-container {
  display: inline-block;
  position: relative;
  width: 10em;
}

.dropdown-btn {
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: #ffffff;
  z-index: 1;
  left: 0;
  top: 36px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.menu-container.open .dropdown-content {
  display: block;
  position: absolute;
}

.liste-element ul{
  max-height: 16em;
  overflow: scroll;
  overflow-x: hidden;

}

.liste-element li{
padding: 8px 0;
cursor: pointer;
padding:5px 10px;
display: flex;
  justify-content: space-between;
}
.liste-element li:hover{

  background-color: #FFD15B;
}

/* Ajoutez les styles d'animation */
@keyframes rotateChevronDown {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

/* Appliquez le style d'animation aux icônes */
.bi-chevron-down {
  transition: transform 0.3s ease-in-out;
}

.open .bi-chevron-down {
  animation: rotateChevronDown 1s forwards; /* Durée de l'animation augmentée à 1 seconde */
}



.card img{
  height: 10em;
  object-fit: cover;

}
#selected-items{
  display: flex;
}

.tag-list {
  list-style: none;
  display: flex;
padding: 10px;
border-radius: 10px;
}
.tag-list i{
  margin-left: 5px;
}
.description{
  height: 7.5em;
  overflow: hidden;
}


#totalRecipeCount{
  float: right;
  margin-right: 3rem;
  font-weight: bolder;
}

.selected{
  font-weight: 600;

}
.selected i{
  color: #000;
}
.selected, .tag-list{
    background-color: #ffd15b;
 

}
.tag-list{
  margin: 0 15px;
}
.delete-icon{
  cursor: pointer;
}
.btn-delete{
  display: none;
}
#selected-items-list{
  display: flex;
}
#selectedItemsList .tag-list{
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.tag i{
  margin-left: 10px;
}
.container-list {
  width: 85%;
  margin: auto;
}
.display-containte{
  width: 85%;
min-height: 54vh;
}
